body {
    margin: 0;
    box-sizing: border-box;
}


.side-navbar {
    position: fixed;
    z-index: 1000;
    box-sizing: border-box;
    width: 40px;
    height: 100%;
    background-color: darkblue;
    padding: 10px;
    color: white;
    transition: all;
    transition-duration: 0.5s;
    text-align: center;
}
.side-navbar:hover {
    text-align: left;
    padding: 10px;
    width: 150px;
}

.side-menu {
    height: 40px;
    margin-top: 20px;
}


.side-navbar:hover .side-menu span {
    animation-name: sidemenu;
    animation-duration: 0.5s;
    animation-fill-mode:forwards;
}

.side-menu span {
    display: inline-block;
    transform: translateX(-150px);
}




@keyframes sidemenu {
    0% {   transform: translateX(-150px)  }
    100% {   transform: translateX(0)   }
}



.main-navbar {
    padding: 5px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px grey;
    position: relative;
    z-index: 10;
}

.navbar-search {
    margin-left: 10px;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid grey;
}

.navbar-search input {
    border: none;
    padding: 5px;
    width: 200px;
    transition: all;
    transition-duration: 0.5s;
    
}
.navbar-search button {
    width: 40px;
    padding: 5px;
    border: none;
}

.navbar-search input:focus {
    width: 350px;

}
.navbar-search button {
    padding: 5px;
    background-color: black;
    color: white;
}

.navbar-menu {
    align-items: center;
    margin-right: 10px;
    display: flex;
    
}    
    
.navbar-menu a {
    color: grey;
    margin-right: 30px;
    text-decoration: none;
}

.Dashboard {
    padding: 20px;
}

.main-content {
    padding: 20px;
    box-sizing: border-box;
}


.summary-card {
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.summary-card i {
    color: grey;
}

.first-grid {
    box-shadow: -5px 0 0 0 lightblue, 0 0 5px 2px lightgray;
}

.text-area {
    display: flex;
    flex-direction: column;  /* 세로로 정렬하겠다 플렉스 화면을 */
    justify-content: center; /* 텍스트 세로 중앙 */
}

.text-area p {
    margin: 0;
    font-size: 25px;
}

.tasks-list p {
    margin: 0;
    
}

.second-grid {
    box-shadow: -5px 0 0 0 lightgreen, 0 0 5px 2px lightgray;
}

.third-grid {
    box-shadow: -5px 0 0 0 purple, 0 0 5px 2px lightgray;
}

.fourth-grid {
    box-shadow: -5px 0 0 0 orange, 0 0 5px 2px lightgray;
}


.grid {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;     /* 세로 중앙 정렬 */
    padding: 20px;
}


.chart-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 25px;
    grid-gap: 30px;
}

.main-chart {
    grid-column: 1/2;
    grid-row: 1/3;
    box-shadow: 0 0 1px 2px lightgrey;
    border-radius: 10px;
    overflow: hidden;
}

.main-chart h4, .sub-chart h4 {
    padding: 15px;
    font-weight: bold;
    margin: 0;
}

.sub-chart {
    grid-column: 2 / 3;
    grid-row: 1 / 2 ;    
    
}

.layout {
    background-color: #eee;
    height: 100vh;
    margin-left: 40px;

}

.chart {
    border-top: 1px solid lightgrey;
    background-color: white;
    padding: 30px;
}

.tasks-list span{
    display: inline-block;
    color: white;
    background-color: blue;
    border-radius: 15px;
    width: 30px;
    height: 25px;
    text-align: center;
    font-weight: bold;
}

.tasks-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: white;
    border-top: 1px solid lightgrey;
}

.chart-contant {
    box-shadow: 0 0 1px 2px lightgrey;
    border-radius: 10px;
    overflow: hidden;
}


@media screen and (max-width: 768px) {
    .layout {
        height: 100%;
    }
    .summary-card {
        grid-template-columns: 1fr;    
        grid-gap: 10px
    }
    .chart-container {
        grid-template-columns: 1fr; 
        grid-gap: 10px;
    }
    .main-chart {
        grid-column: 1 ;
        grid-row: 1 ;
    }
    .sub-chart {  
        grid-column: 1 ;
        grid-row: 2 ;        
    }
}